
*{
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    margin:0;
}


.header{
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-family:'Bebas Neue', cursive;

    
}

.menu {
    display: flex;
    background-color: #333;
    justify-content:center;
    flex-direction: row;
    align-items: flex-start;
    font-size: 18px;

}


.menu a{
    justify-items: flex-start;
    justify-content: space-between;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
   
}

.menu a:hover {
    background-color: #ddd;
    color: black;

}

.title{
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue';

}

.subtitle{
    background-color: rgb(122, 134, 134);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin:50px;
    padding: 50px;
    text-align: justify;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: #ddd;
    border-radius: 12px;
}

/*hospedagem */

.titlegalley{
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue';
}

.gallery:hover{
    border: 1px solid #777;
}

.gallery img{
    width: 300px;
    height: auto;
}

.desc{
    padding:20px;
    text-align: center;

}

.responsive{
    padding: 0 6px;
    float: left;
    width: 24.99999%;

}

@media only screen and (max-width:700px){
    .responsive{
        width: 49.99999%;
        margin: 6px 0;
    }
}



.titlegalley{
    
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    padding: 20px 6;
    color: rgb(10, 10, 10);
    
}

.responsive .desc{
    display: flex;
    justify-content:space-between;
    justify-items: center;
    align-items:flex-start;
    flex-direction: column;

}

.botao{
    background-color: #333;
    border-radius: 5%;
    color: #f1f1f1;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.acomodacoes a{
    text-decoration: none;
    text-align:left;
    margin:20px;
}


.footer{
    display: flex;
    background-color: rgb(7, 7, 7);
    color: #ddd;
    justify-content: center;
}


/* transporte */

.transporte{
    margin: 20px 40px;
    padding: 20px;
}

.transporte h2{
    display: flex;
    color: rgb(10, 10, 10);
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family:'Bebas Neue', cursive;
    padding: 40px 0;
    margin: 20px 20px;
}

.descricao{
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}


   
.box1{
    background-color: #777;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    justify-content: space-between;
    margin: 30px;
    flex-direction:row;
    color: rgb(248, 244, 244);
    border-radius: 9px;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.desc2 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

   
/* onde ir*/

.box2{
    display: flex;
    justify-content:space-between;
    justify-items: baseline;
}


.section h2{
    text-align: center;
    font-family:'Bebas Neue', cursive;
    font-size: 30px;
}

.section p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}